<div class="form-group">
    <table class="table">
        <tbody>
            <tr ng-repeat="field in searchQueryFields.query | limitTo:10">
                <td><input class="form-control" type="text" ng-model="field.key" placeholder="Key"/></td>
                <td>
                    <select ng-model="field.operator" ng-options="k as v for (v,k) in field.availableOperators">
                    </select>
                </td>
                <td><input class="form-control" type="text"  ng-model="field.value"   placeholder="Value"/></td>
            </tr>
        </tbody>
    </table>
    <h4>Date de création</h4>
    <div class="form-group">
        <input it-input class="form-control floating-label" type="text" it-label="Debut"
               bs-datepicker ng-model="searchQueryFields.query[11].value">
    </div>
    <div class="form-group">
        <input it-input class="form-control floating-label"
               bs-datepicker
               type="text" it-label="Fin"
               ng-model="searchQueryFields.query[12].value">
    </div>
    <h4>Date d'échéance</h4>
    <div class="form-group">
        <input it-input class="form-control floating-label"
               type="text" it-label="Debut"
               bs-datepicker
               ng-model="searchQueryFields.query[13].value">
    </div>
    <div class="form-group">
        <input it-input class="form-control floating-label"
               bs-datepicker
               type="text" it-label="Fin" ng-model="searchQueryFields.query[14].value">
    </div>

    <h2>Metadata</h2>
    <table class="table">
        <thead>
        <tr>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <a href="" class="btn btn-default  btn-success" ng-click="addQueryField()" role="button">+</a>
            </div>
        </tr>
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="field in searchQueryFields.query  | limitTo:15:15">
                <td><input class="form-control" type="text"  ng-model="field.key" placeholder="Key"/></td>
                <td>
                    <select ng-model="field.operator" ng-options="k as v for (v,k) in field.availableOperators">
                    </select>
                </td>
                <td><input class="form-control" type="text"  ng-model="field.value"   placeholder="Value"/></td>
                <th> <button class="btn btn-default btn-success btn-xs" ng-click="removeQueryField(field)">X</button> </th>
            </tr>
        </tbody>
    </table>
</div>